.header {
    &__nav {
        display: flex;
        align-items: center;
        min-height: 56px;
        background: #323232;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        &-block {
            display: flex;
        }

        &-link {
            display: flex;
            justify-content: center;
            border-right:1px solid $gray;
            padding:0 15px;
            color:#fff;
            text-decoration: none;
            font-size: 15px;
            &:hover{
                color:#fff;
            }
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                border:none;
            }
        }

        &-btn{
            width: 153px;
            height: 38px;
            background:#e8d8b6;
            text-transform: uppercase;
            font-size: 12px;
            color:#323232;
            transition: all .2s;
            border:none;
            cursor: pointer;
            &:hover{
                background:#e4d1a8;
                color:#000;
            }
        }
    }


    &__content{
        height: 93px;
        padding-top: 15px;

        &-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-block{
            display: flex;
        }

        &-logo{
            width: 170px;
            height: 65px;
            margin-right: 44px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-link{
            display: flex;
            align-items: center;
            gap:12px;
        }

        &-text{
            margin-right: 33px;
            text-transform: uppercase;
            font-size: 15px;
            color:#323232;
        }

        &-icon{
            display: flex;
            align-items:center;
            justify-content: center;
            border:1px solid #000;
            width: 37px;
            height: 37px;
        }

        &-btn{
            width: 153px;
            height: 38px;
            background:#c99c47;
            text-transform: uppercase;
            font-size: 13px;
            color:#fff;
            border:none;
            cursor: pointer;
            transition: all .2s;
            &:hover{
                background:#be9240;
            }
        }
    }
}


// Media

@media (max-width:1200px){

    .container{
        padding: 0 5px;
    }

    .header{
        .container{
            margin: 0;
            width: 100%;
        }
        &__content{
            display: flex;
            align-items: center;
            &-logo{
                height: unset;
                width: 152px;
            }
        }
    }
}

@media (max-width:992px){
    .header{
        .container{
            margin: 0;
        }
        &__content{
            display: flex;
            align-items: center;
            &-logo{
                margin-right: 30px;
            }
            &-icon{
                width: 30px;
                height: 30px;
            }
            &-text{
                font-size: 14px;
            }
        }
    }
}

@media (max-width:768px){
    .header{
        
        &__nav{
            &-btn{
                width: 125px;
            }
            &-link{
                font-size: 13px;
            }
        }


        &__content{
            &-text{
                margin-right: 20px;
                font-size: 12px;
            }
            &-logo{
                max-width: 100px;
                margin-right: 14px;
            }
            &-btn{
                width: 125px;
            }
        }
    }
}

@media (max-width:576px){
    .header{

        &__nav{
            padding: 0 5px;
            &-link{
                padding: 0 5px;
                font-size: 11px;
            }
            &-btn{
                width: 90px;
                height: 40px;
            }
        }

        &__content{
            padding:0 5px;
            height: 63px;
            &-logo{
                display: none;
            }
            &-icon{
                display: none;
            }
            &-btn{
                width: 90px;
                height: 40px;
            }
            &-text{
                font-size: 9px;
            }
        }
    }
}